
.accordion-item {
  border: 1px solid #000 !important;
  margin-bottom: 20px;
}
:root {
  --hero-bg: #f1f3ff;
  --primary-dark-blue-04: #0d28a6;
  --white: #fff;
}

html,
body {
  font-family: "Arial";
}

#hero {
  background-color: var(--hero-bg);
}

.card-testimonial {
  background-color: var(--hero-bg);
  width: 70%;
}

.navbar {
  --bs-bg-opacity: 0;
}

#cta .card {
  color: #fff;
  background-color: var(--primary-dark-blue-04);
}

.logo {
  display: block;
  background: var(--primary-dark-blue-04);
  height: 2.5rem;
  width: 7rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
  background-color: var(--primary-dark-blue-04);
  width: 2rem;
  height: 2rem;
  color: var(--white);
  border-radius: 99999px;
}

.navbar-toggler {
  border: 0;
}

.hero-content {
  padding-top: 2rem;
  padding-bottom: 9rem;
}

.hero-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width:50%;
}
.mark, mark{
  background: #FFFFFF !important;
}

.figure {
    margin: 0 !important;
}
@media (max-width: 575.98px) {
  .hero-content {
    padding-top: 1rem;
    padding-bottom: 0;
  }

  .hero-image {
    position: relative;
    bottom: 0;
    right: 0;
    width: auto;
  }

  .card-testimonial {
    width: 100%;
  }
}
/* Login  */
.rg-login{
  padding: 112px 0 0 112px;
  background-color: #0D28A6;
}
.lf-login{
  padding: 0px 175px;
  margin: auto;
}

.lf-login h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 32px 0px; 
}
img.closelogo {
  width: 28px ;
  visibility: hidden;
}
.logo-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-login a {
  display: flex;
  align-items: center;
}
@media (max-width:540px) {
  .lf-login {
      padding: 30px 16px;
      width: 328px;
  }

  img.closelogo {
      visibility: visible;
  }

  .rg-login {
      visibility: hidden;
  }
}
@media (max-width:996px) {
  img.closelogo {
      visibility: visible;
  }
  .lf-login {
  padding: 30px 16px;
      width: 328px;
}
}

/* Pembayaran */
.payment {
  height: 270px;
    background: 
    #F1F3FF;
    padding-top: 100px;
    position: relative;
    
  }
  .btn-previous{
    color: black;
    border: none;
    background-color:  #F1F3FF;
  }
  .detail-box {
    box-shadow: 0px 0px 10px rgba(14, 13, 13, 0.15);
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    margin-top: -60px;
    z-index: 8;
    padding: 20px;
  }
  .disable{
    color: darkgray;
  }
  .button-tf{
    width: 100px;
  }
  .total {
    
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
  }
  .total1 {
    display: flex;
    justify-content: space-between;
  }
  .btn-show{
    display: flex;
    width: 100px;
    height: 35px;
    background-color: white;
    border: none;
  }
  .float-check-right{
    display: flex;
    float: right;
    color: green;
  }
  .text-indent{
    text-indent: 10px;
  }
  .list-group-payment{
    display: flex;
    margin-left: -15px !important ;
  }
  .StepperContainer-0-2-1 {
    padding-top: 0px !important;
    width: 400px;
}
#RFS-StepButton.active,
#RFS-StepButton.completed{
  background-color: darkblue;
}
#RFS-StepButton.active span,
#RFS-StepButton.completed span
{
 color: #fff;
}
#RFS-StepButton{
  background-color: #fff;
  border: 1px solid darkblue;
} 
#RFS-StepButton span{
  color: #000;
}
.btn-previous {
  color: black;
  border: none;
  background-color: #f1f3ff;
}
.detail-box {
  box-shadow: 0px 0px 10px rgba(14, 13, 13, 0.15);
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  margin-top: -75px;
  z-index: 8;
  padding: 20px;
}
.disable {
  color: darkgray;
}

.Pemilik {
  margin-left: 35px;
}

.button-tf {
  width: 100px;
  height: 50px;
}
.total {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
}
.total1 {
  display: flex;
  justify-content: space-between;
}
.btn-show {
  display: flex;
  width: 100px;
  height: 35px;
  background-color: white;
  border: none;
}
.float-check-right {
  display: flex;
  float: right;
  color: green;
}
.text-indent {
  text-indent: 10px;
}
.list-group-payment {
  display: flex;
  margin-left: -15px !important ;
}
.wrapper_file-uploader{
  border: 1px solid rgba(208, 208, 208, 1);
  background-color: rgba(238, 238, 238, 1);
  border-radius: 0.3rem;
  min-height: 15rem;
  margin: 1rem 0;
}
.label_file-uploader{
  width: 100%;
  min-height: 15rem;
  cursor: pointer;

}
.wrapper_file-uploader:hover{
  outline: auto;
  outline-style: dashed;
}
.label_file-uploader input[type="file"]{
  display: none;
}

@media (max-width:996px) {
  .payment {
    height: 325px;
    background: 
    #F1F3FF;
    padding-top: 150px;
    position: relative;
    }
    .image{
      margin-top: 30px;
    }
  
}

  

  @media (max-width:996px) {
    .payment {
      height: 325px;
      background: 
      #F1F3FF;
      padding-top: 150px;
      position: relative;
        
      }
    .image{
      margin-top: 30px;
    }
  
  }
  /* E-Ticket */
  .e-ticket .bg {
    height: 164px;
    background: #F1F3FF;
  }
  
  .e-ticket .payment-nav {
    width: 90%;
    position: relative;
    margin: auto;
    margin-top: -56px;
    padding-top: 57px;
  }
  
  .e-ticket .payment-nav .back-button {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .e-ticket .payment-nav .back-button h3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding-left: 16px;
  }
  
  .e-ticket .payment-nav h4 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    padding-left: 40px;
    letter-spacing: -0.8px;
  }
  
  .e-ticket .state-payment {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 15px;
    padding-top: 4px;
  }
  
  .e-ticket .state-payment .one,
  .e-ticket .state-payment .two,
  .e-ticket .state-payment .three {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #0D28A6;
    background: #0D28A6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .e-ticket .state-payment h5 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    padding-left: 8px;
  }
  
  .e-ticket .state-payment img {
    padding: 0 12px;
  }
  
  .e-ticket .ticket {
    width: 90%;
    position: relative;
    margin: auto;
    text-align: center;
    padding: 70px 0;
  }
  
  .e-ticket .ticket h3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding-top: 16px;
  }
  
  .e-ticket .ticket h5 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #8A8A8A;
    padding-top: 16px;
  }
  
  .e-ticket .ticket .print-ticket {
    width: 55%;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-top: 40px;
    padding: 24px;
  }
  
  .e-ticket .ticket .print-ticket .invoice-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .e-ticket .ticket .print-ticket .invoice-head .invoice-desc {
    text-align: left;
  }
  
  .e-ticket .ticket .print-ticket .invoice-head .invoice-desc h4 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }
  
  .e-ticket .ticket .print-ticket .invoice-head .invoice-desc p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #3C3C3C;
    letter-spacing: -1px;
    padding-top: 16px;
  }
  
  .e-ticket .ticket .print-ticket .invoice-head .download-btn {
    display: flex;
    width: 97px;
    padding: 8px 12px;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #0D28A6;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .e-ticket .ticket .print-ticket .invoice-head .download-btn img {
    padding: 0;
  }
  
  .e-ticket .ticket .print-ticket .invoice-head .download-btn h4 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
  }
  
  .e-ticket .ticket .print-ticket .pdf-viewer {
    border: 1.8px dashed #D0D0D0;
    border-radius: 4px;
    margin-top: 24px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #EEEEEE;
  }
  .button-download{
    padding: 8px;
    border: 1px solid #0D28A6;
    border-radius: 2px;
    background: #fff;
}
.icon-download {
    margin: 0 10px;
    stroke-width: 0.5;
}
.button-download a {
    text-decoration: none;
    color: #0D28A6;
    font-weight: 700;
}
.icon-download{
    color:#0D28A6;
}
  
  @media (max-width:990px) {
    .e-ticket .ticket .print-ticket {
      width: 100%;
    }
  }
  
  @media (max-width:767px) {
    .e-ticket .bg {
      height: 200px;
    }
  
    .e-ticket .payment-nav {
      width: 100%;
      margin-top: -100px;
    }
  
    .e-ticket .state-payment {
      justify-content: center;
      align-items: center;
      padding-top: 20px;
    }
  }